/* Reset and Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Color Scheme */
:root {
  --primary-color: #ff7faa; /* Pink pastel color */
}

/* General Styles */
section {
  padding: 50px;
}

/* Hero Section Styles */
#hero {
  height: auto;
  background-image: url("images/hero.png");
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: left;
  color: #fff;
  height: 800px;
  transition: background-image 0.5s ease;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-text {
  width: 100%; /* Adjusted width for better responsiveness */
  text-align: center; /* Center-align the text */
  margin-top: 50px; /* Adjusted margin for better spacing */
  width: 50%;
  margin-top: 200px;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.letter {
  display: inline-block;
  animation: wave 0.5s infinite alternate;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.hero-title span {
  color: var(--primary-color);
}

.hero-description {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* About Section Styles */
#about {
  background-color: #f9f9f9;
  padding: 100px 0;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-box {
  background-color: #fff;
  padding: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.about-box:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.about-title {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-description {
  font-size: 18px;
  line-height: 1.6;
}

/* Navigation Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    #ff80ab,
    #ffffff
  ); /* Gradient background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow underneath */
  text-align: center;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .toggle-btn {
    display: block;
  }
  nav {
    display: none;
    width: 100%;
    text-align: center;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    display: block;
  }
}

/* Your existing CSS for header and navigation styles */

/* Toggle button styles */
.toggle-btn {
  display: none; /* Initially hide the toggle button */
  background-color: transparent; /* Dark background color */
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px; /* Add some border radius for styling */
}

.toggle-btn:hover {
  background-color: #ff7faa; /* Darker background color on hover */
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .toggle-btn {
    display: block; /* Show the toggle button on small screens */
    position: relative; /* Position it relatively to the header */
  }
}

/* Competences Section Styles */
#competences {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.competences-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.competences-content {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  justify-content: space-around;
}

.competences-item {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  max-width: 300px;
}

.competences-item:hover {
  background: linear-gradient(45deg, #ffacbd, #fff);
  color: #6b2737;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.competences-icon {
  max-width: 100px;
  margin-bottom: 20px;
}

.competences-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.competences-description {
  font-size: 12px;
  line-height: 1.6;
  color: #666666;
}

/* Competences Header Styles */
.competencesheader {
  color: #6b2737;
  background-color: #f6dfeb;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  margin-bottom: 20px;
}

.competencesheader::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff80aa;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Responsive Competences Items */
@media (min-width: 768px) {
  .competences-item {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
    float: left;
  }

  .competences-item:nth-child(2n) {
    margin-right: 0;
  }
}

.competences-item h2 a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  margin-top: 15px;
  display: block;
  margin: 20px;
  border: #6b2737;
  padding: 30px;
  border-radius: 20%;
  background-color: #f6dfeb;
}

.competences-item h2 a:hover {
  color: #ff6b6b;
}
.competences-item p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.competences-item .technologie {
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
}

/* Portfolio Grid Styles */
.port {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.port > * {
  flex: 0 0 calc(50% - 20px); /* Adjust the width to 50% */
  max-width: calc(50% - 20px); /* Adjust the max-width to 50% */
  margin-bottom: 20px;
}

.port > *:nth-child(2n) {
  margin-right: 0; /* Remove margin-right for every second child */
}

/* Additional Competences Styles */
.competences {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.competences .competences-item {
  width: 100%;
  margin: 0 20px 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.competences .competences-icon {
  width: 50px;
  height: 50px;
}

.competences .competences-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.competences .competences-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.competences .competences-info {
  padding: 20px;
}

.competences .competences-info img {
  margin-bottom: 10px;
}

.competences .competences-title a {
  color: #333;
  text-decoration: none;
}

.competences .competences-title a:hover {
  color: #ff6b6b;
}

.travail img {
  width: 50px;
  height: 50px;
  display: block; /* Ensures that the margin auto works */
  margin: auto; /* Centers the image horizontally */
}

.description {
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

/* Contact Form Styles */
.contact {
  background-color: #ffd5e5; /* Pink pastel color */
  padding: 50px 0;
}

.contact-title {
  text-align: center;
  margin-bottom: 30px;
}

.contact-content {
  max-width: 80%; /* Adjusted for responsiveness */
  margin: 0 auto;
}

#contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

label {
  font-weight: bold;
  color: #ff4d94; /* Pink pastel color */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ff80ab; /* Pink pastel color */
  border-radius: 5px;
  resize: none;
  box-sizing: border-box; /* Added to include padding and border in width calculation */
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff80ab; /* Pink pastel color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff4d94; /* Darker shade of pink for hover */
}

/* General Styles */
@media screen and (max-width: 768px) {
  section {
    padding: 50px; /* Adjusted padding for better spacing on smaller screens */
  }

  .hero-title {
    font-size: 36px; /* Adjusted font size for smaller screens */
  }

  .hero-description {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }

  /* About Section Styles */
  .about-content {
    text-align: center; /* Center-align the content */
  }

  .about-box {
    max-width: 800px; /* Adjusted max-width for better display on smaller screens */
  }

  .about-title {
    font-size: 24px; /* Adjusted font size for smaller screens */
  }

  .about-description {
    font-size: 16px; /* Adjusted font size for smaller screens */
  }

  .travaux {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Navigation Styles */
  nav ul {
    flex-direction: column; /* Display the navigation items vertically on smaller screens */
  }

  nav ul li {
    margin: 10px 0; /* Adjusted margin for better spacing between navigation items */
  }
  .port {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .travaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    max-width: 200px;
  }
}
